@import-normalize;
@import './shared/reset';
@import './shared/colors';
@import './shared/fonts';
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600);

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: $text-primary;
    font-family:"Inter", sans-serif;
}
.container{
    // box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
// .container>div{
//     box-sizing: border-box;
// }